@keyframes vibe {
  0%, 100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(-4px);
    -ms-transform: translateX(-4px);
    -o-transform: translateX(-4px);
    transform: translateX(-4px);
  }
  50% {
    -webkit-transform: translateX(4px);
    -ms-transform: translateX(4px);
    -o-transform: translateX(4px);
    transform: translateX(4px);
  }
  75% {
    -webkit-transform: translateX(-4px);
    -ms-transform: translateX(-4px);
    -o-transform: translateX(-4px);
    transform: translateX(-4px);
  }
}
@keyframes shape {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 100%;
  }
}
@keyframes flip {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(1);
  }
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
.fixall {
  margin: 0;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
  text-decoration: none;
}
.fixall:hover, .fixall:focus {
  outline: none;
  box-shadow: none;
  text-decoration: none;
}

body {
  position: relative;
  font-family: tajawal;
  font-weight: normal;
}
body::-webkit-scrollbar {
  background-color: #fff;
  width: 7px;
  height: 0px;
}
body::-webkit-scrollbar-thumb {
  background-color: #E6001C;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #E6001C #fff;
}

.overflow {
  overflow: hidden !important;
}

@media (min-width: 1200px) {
  .container {
    width: 1270px;
  }
}
@media (min-width: 1500px) {
  .container {
    width: 1410px;
  }
}
@media (min-width: 1700px) {
  .container {
    width: 1670px;
  }
}
@font-face {
  font-family: "tajawal";
  src: url("../fonts/TAJAWAL/Tajawal-ExtraLight.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-ExtraLight.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "tajawal";
  src: url("../fonts/TAJAWAL/Tajawal-Light.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-Light.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "tajawal";
  src: url("../fonts/TAJAWAL/Tajawal-Regular.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-Regular.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "tajawal";
  src: url("../fonts/TAJAWAL/Tajawal-Medium.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-Medium.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "tajawal";
  src: url("../fonts/TAJAWAL/Tajawal-Bold.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-Bold.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "tajawal";
  src: url("../fonts/TAJAWAL/Tajawal-ExtraBold.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-ExtraBold.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "tajawal";
  src: url("../fonts/TAJAWAL/Tajawal-Black.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-Black.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
.search-form {
  position: relative;
  margin: auto;
}
.search-form .search-close {
  display: none;
  top: 50px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}
.search-form .search-close g {
  fill: rgba(255, 255, 255, 0.75);
}
@media (max-width: 992px) {
  .search-form {
    flex: unset;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0;
    z-index: 9999;
    display: none;
  }
  .search-form .search-close {
    display: block;
  }
}

.search-cont {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  height: 52px;
  display: flex;
  align-items: center;
  width: 704px;
}
@media (min-width: 1500px) {
  .search-cont {
    width: 950px;
  }
}
@media (max-width: 1199px) {
  .search-cont {
    width: 500px;
  }
}
@media (max-width: 992px) {
  .search-cont {
    position: relative;
    width: calc(100% - 30px);
    margin: 120px auto;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    transform: translateY(50px);
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .search-cont.open {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

.search-input {
  height: 100%;
  background-color: #F8F8F8;
  padding: 0 26px;
  width: 100%;
  font-size: 15px;
  color: #262626;
}
.search-input::placeholder {
  color: #4A4A4A;
}

.search-button {
  height: 100%;
  background-color: #E6001C;
  min-width: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #fff;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.search-button:hover {
  background-color: #152636;
}
@media (max-width: 992px) {
  .search-button {
    min-width: 52px;
  }
}

.newsletter-cont {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  height: 48px;
  display: flex;
  align-items: center;
  width: 100%;
}

.newsletter-input {
  height: 100%;
  background-color: #F8F8F8;
  padding: 0 16px;
  width: 100%;
  font-size: 15px;
  color: #262626;
}
.newsletter-input::placeholder {
  color: #8B8B8B;
}

.newsletter-button {
  height: 100%;
  background-color: #E6001C;
  min-width: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #fff;
}
.newsletter-button svg {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
html[dir=ltr] .newsletter-button svg {
  transform: rotate(180deg);
}
.newsletter-button:hover svg {
  transform: translateX(-3px);
}
html[dir=ltr] .newsletter-button:hover svg {
  transform: rotate(180deg) translateX(3px);
}

nav {
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.102);
  position: relative;
  z-index: 2;
  text-transform: capitalize;
}

.mo-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-li > .nav-a {
  line-height: 50px;
  display: block;
}

.nav-a {
  font-size: 16px;
  color: #262626;
  font-weight: 500;
  position: relative;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nav-a:hover, .nav-a:focus {
  color: #E6001C;
}
.nav-a::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: -10px;
  right: -10px;
  height: 2px;
  content: "";
  background-color: transparent;
}
@media (min-width: 1500px) {
  .nav-a::before {
    left: -17px;
    right: -17px;
  }
}
.nav-a.nav-active {
  color: #E6001C;
  pointer-events: none;
}
.nav-a.nav-active::before {
  background-color: #E6001C;
}

.owl-carousel {
  position: relative;
}
.owl-carousel .owl-item {
  border: none !important;
  border-color: transparent !important;
  overflow: hidden;
}
.owl-carousel .owl-item img {
  width: auto;
}
.owl-carousel .owl-dots {
  margin-top: 35px;
  display: none;
  align-items: center;
  justify-content: center;
}
@media (max-width: 992px) {
  .owl-carousel .owl-dots {
    display: flex;
  }
}
.owl-carousel .owl-dots .owl-dot {
  background: #BFBFBF;
  outline: none;
  border: none;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 3px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.owl-carousel .owl-dots .owl-dot.active {
  background: #E6001C;
  pointer-events: none;
}
.owl-carousel .owl-dots .owl-dot:hover {
  background: #E6001C;
}

.main-slider {
  margin-top: 18px;
}
.main-slider .owl-dots {
  position: absolute;
  bottom: 15px;
  width: 100%;
  display: flex;
}
@media (max-width: 767px) {
  .main-slider .owl-dots {
    bottom: 5px;
  }
}
.main-slider .owl-nav button[class^=owl-] {
  position: absolute;
  outline: none;
  top: 50%;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 3px 6px #00000029;
  background-color: #fff;
  fill: #152636;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 992px) {
  .main-slider .owl-nav button[class^=owl-] {
    display: none;
  }
}
.main-slider .owl-nav button[class^=owl-].owl-next {
  left: 0;
  transform: translateY(-50%) translateX(-50%);
}
.main-slider .owl-nav button[class^=owl-].owl-prev {
  right: 0;
  transform: translateY(-50%) translateX(50%);
}
.main-slider .owl-nav button[class^=owl-]:hover {
  fill: #fff;
  background-color: #E6001C;
  box-shadow: none;
  outline: none;
}
.main-slider .slider-img {
  border-radius: 8px;
  overflow: hidden;
}

@media (max-width: 767px) {
  .nav-foot-cont {
    margin-bottom: 5px;
    padding: 10px 0;
  }
}

@media (max-width: 767px) {
  .cat-head {
    margin-bottom: 5px;
    padding: 5px 0;
  }
}

.mo-panel {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-out;
  padding: 0 15px;
}

.mo-accordion {
  cursor: pointer;
  width: 100%;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mo-accordion:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: #fff transparent transparent transparent;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.mo-accordion.active:after {
  transform: rotate(180deg);
}
@media (max-width: 767px) {
  .mo-accordion.nav-foot-header {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.mo-panel1 {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-out;
  padding: 0 15px;
}

.mo-accordion1 {
  cursor: pointer;
  width: 100%;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mo-accordion1:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 3px 0 3px;
  border-color: #152636 transparent transparent transparent;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.mo-accordion1.active {
  color: #E6001C;
}
.mo-accordion1.active:after {
  border-color: #E6001C transparent transparent transparent;
  transform: rotate(180deg);
}

.cats-slider {
  margin-top: 70px;
  margin-bottom: 35px;
  text-transform: capitalize;
}
@media (max-width: 992px) {
  .cats-slider {
    margin-top: 40px;
    margin-bottom: 5px;
  }
}
.cats-slider .owl-dots {
  margin-top: 25px;
}

.cat {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.cat .cat-img {
  margin-bottom: 19px;
}
.cat .cat-img img {
  backface-visibility: hidden;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.cat .cat-name {
  color: #E6001C;
  font-size: 17px;
  font-weight: 500;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 1500px) {
  .cat .cat-name {
    font-size: 22px;
  }
}
.cat:hover .cat-img img {
  transform: translateY(-3px);
}
.cat:hover .cat-name {
  color: #152636;
}

.products-slider-sec {
  border-bottom: 1px solid #E5E5E5;
  margin-top: 35px;
  padding-bottom: 50px;
}
.products-slider-sec:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}

@media (max-width: 767px) {
  .product {
    width: 258px;
    margin: auto;
  }
}
.product .pro-img {
  position: relative;
  display: block;
  margin: 0 auto 8px;
}
.product .pro-img img {
  margin: auto;
  backface-visibility: hidden;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.product .pro-img:hover img {
  transform: scale(0.95);
}
.product .sale-hint {
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 4px;
  color: #BA1228;
  font-size: 14px;
  padding: 0 9px;
  line-height: 20px;
  background-color: #FFC5CC;
  font-weight: bold;
}
.product .pro-name {
  line-height: 1.4;
  padding: 0 10px;
  height: 45px;
  display: flex;
  overflow: hidden;
}
@media (max-width: 767px) {
  .product .pro-name {
    text-align: center;
    justify-content: center;
  }
}
.product .pro-name a {
  color: #262626;
  font-size: 15px;
  display: inline-block;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.product .pro-name a:hover {
  color: #E6001C;
}
.product .mo-prices {
  display: flex;
  align-items: center;
  padding: 0 11px;
  margin-top: 8px;
}
@media (max-width: 992px) {
  .product .mo-prices {
    justify-content: center;
    text-align: center;
  }
}
.product .mo-price {
  font-size: 20px;
  color: #262626;
  font-weight: bold;
}
.product .mo-oldprice {
  font-size: 14px;
  font-weight: 300;
  color: #707070;
  text-decoration: line-through;
  margin: 7px 6px 0;
}

.brands-slider-sec {
  margin-top: 100px;
}
.brands-slider-sec .owl-dots {
  margin-top: 25px;
}
@media (max-width: 992px) {
  .brands-slider-sec {
    margin-top: 70px;
  }
}

.brand-cont {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drop-li .nav-a {
  display: flex;
  align-items: center;
}
.drop-li .nav-a:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 3px 0 3px;
  border-color: #152636 transparent transparent transparent;
  margin-right: 4px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
html[dir=ltr] .drop-li .nav-a:after {
  margin-right: 0;
  margin-left: 4px;
}
.drop-li:hover .nav-a {
  color: #E6001C;
}
.drop-li:hover .nav-a::after {
  border-color: #E6001C transparent transparent transparent;
}
.drop-li:hover .cats-display {
  visibility: visible;
  opacity: 1;
}

.cats-display {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  box-shadow: 0px 3px 14px #0000001A;
  border: 0.5px solid #ECECEC;
  padding: 55px;
  display: grid;
  grid-template-columns: repeat(5, 170px);
  gap: 30px;
  visibility: hidden;
  opacity: 0;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
@media (min-width: 1500px) {
  .cats-display {
    padding: 55px 130px;
    grid-template-columns: repeat(5, 230px);
  }
}

.cat-display {
  width: 100%;
}

.cat-head {
  font-weight: bold;
  font-size: 18px;
  color: #152636;
  margin-bottom: 18px;
  white-space: nowrap;
}

.sub-li {
  margin: 10px 0;
}

.sub-a {
  font-weight: 500;
  font-size: 16px;
  color: #6D6D6D;
  text-transform: uppercase;
  white-space: nowrap;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.sub-a:hover, .sub-a:focus {
  color: #E6001C;
}

/*//////////////////////////////preloader//////////////////////////////*/
.pre-loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pre-loader img {
  width: 200px;
}
@media (max-width: 767px) {
  .pre-loader img {
    width: 120px;
  }
}
.pre-loader .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.pre-loader .progress-bar {
  background-color: #E6001C;
  border: none;
  overflow: hidden;
  width: 200px;
  height: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 20px 0 0 0;
}
@media (max-width: 767px) {
  .pre-loader .progress-bar {
    width: 100px;
  }
}
.pre-loader .progress-bar .Shape_1 {
  background-color: #E6001C;
  position: absolute;
  left: 583px;
  top: 459px;
  width: 200px;
  height: 2px;
  z-index: 4;
}
.pre-loader .progress-bar span {
  display: block;
}
.pre-loader .bar {
  background-color: #ccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.pre-loader .progress {
  -webkit-animation: loader 8s ease infinite;
  animation: loader 8s ease infinite;
  background: #E6001C;
  border: none;
  padding: 0px;
  width: 0;
  height: 2px;
}
.pre-loader .progress-bar {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

@-webkit-keyframes loader {
  0% {
    width: 0;
  }
  20% {
    width: 10%;
  }
  25% {
    width: 24%;
  }
  43% {
    width: 41%;
  }
  56% {
    width: 50%;
  }
  66% {
    width: 52%;
  }
  71% {
    width: 60%;
  }
  75% {
    width: 76%;
  }
  94% {
    width: 86%;
  }
  100% {
    width: 100%;
  }
}
@keyframes loader {
  0% {
    width: 0;
  }
  20% {
    width: 10%;
  }
  25% {
    width: 24%;
  }
  43% {
    width: 41%;
  }
  56% {
    width: 50%;
  }
  66% {
    width: 52%;
  }
  71% {
    width: 60%;
  }
  75% {
    width: 76%;
  }
  94% {
    width: 86%;
  }
  100% {
    width: 100%;
  }
}
/*//////////////////////////////preloader//////////////////////////////*/
header {
  position: relative;
  z-index: 3;
  background-color: #fff;
}
@media (max-width: 992px) {
  header {
    position: static;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.102);
  }
}

.top-bar-cont {
  background-color: #152636;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .top-bar {
    justify-content: flex-end;
  }
}

.hints {
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
@media (max-width: 767px) {
  .hints {
    display: none;
  }
}

.hint {
  display: flex;
  align-items: center;
  margin-left: 35px;
  color: #fff;
  line-height: 40px;
}
html[dir=ltr] .hint {
  margin-left: 0;
  margin-right: 35px;
}
.hint .hint-icon {
  display: flex;
  margin-left: 8px;
}
html[dir=ltr] .hint .hint-icon {
  margin-left: 0;
  margin-right: 8px;
}
.hint .hint-icon svg {
  fill: #fff;
}
.hint .hint-text {
  font-size: 14px;
}

.country {
  display: flex;
  align-items: center;
}

.lang {
  color: #fff;
  font-size: 14px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-right: 25px;
  text-transform: capitalize;
}
html[dir=ltr] .lang {
  margin-left: 25px;
  margin-right: 0;
}
.lang:hover, .lang:focus {
  color: #E6001C;
}

.drop-cont {
  position: relative;
  text-transform: capitalize;
}
.drop-cont:hover .top-anchor {
  color: #E6001C;
}
.drop-cont:hover .top-anchor::after {
  border-color: #E6001C transparent transparent transparent;
}
.drop-cont:hover .top-dropdown {
  visibility: visible;
  opacity: 1;
}
.drop-cont .top-anchor {
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (max-width: 767px) {
  .drop-cont .top-anchor {
    line-height: 30px;
  }
}
.drop-cont .top-anchor:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 3px 0 3px;
  border-color: #fff transparent transparent transparent;
  margin-right: 4px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
html[dir=ltr] .drop-cont .top-anchor:after {
  margin-right: 0;
  margin-left: 4px;
}
.drop-cont .top-anchor img {
  display: flex;
  margin-left: 4px;
}
html[dir=ltr] .drop-cont .top-anchor img {
  margin-right: 4px;
  margin-left: 0;
}
.drop-cont .top-dropdown {
  position: absolute;
  top: 100%;
  right: 50%;
  transform: translateX(50%);
  min-width: 120px;
  padding: 8px 9px 9px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px 3px 14px #0000001A;
  border: 0.5px solid #ECECEC;
  border-radius: 8px;
  visibility: hidden;
  opacity: 0;
  z-index: 3;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.drop-cont .top-dropdown:before {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-width: 6px;
  border-color: transparent transparent #ffffff;
  border-style: solid;
  top: -12px;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}
.drop-cont .drop-anchor {
  border-bottom: 1px solid #E5E5E5;
  padding: 0 4px 6px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #262626;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .drop-cont .drop-anchor {
    justify-content: center;
  }
}
.drop-cont .drop-anchor:last-of-type {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.drop-cont .drop-anchor:hover, .drop-cont .drop-anchor:focus {
  color: #E6001C;
}

.header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 13px 0 14px;
}
@media (max-width: 992px) {
  .header {
    grid-template-columns: 1fr 3fr 3fr;
  }
}

.logo {
  width: 148px;
}
@media (min-width: 1500px) {
  .logo {
    width: 177px;
  }
}
@media (max-width: 767px) {
  .logo {
    width: 100%;
  }
}

.mo-log-icon:hover svg .svg-a {
  stroke: #E6001C;
}
.mo-log-icon:hover svg .svg-e {
  fill: #E6001C;
}
.mo-log-icon:hover .mo-log-anchor {
  color: #E6001C;
}
.mo-log-icon:hover .mo-log-anchor .mo-text:after {
  border-color: #E6001C transparent transparent transparent;
}
.mo-log-icon svg .svg-a,
.mo-log-icon svg .svg-b,
.mo-log-icon svg .svg-d {
  fill: none;
}
.mo-log-icon svg .svg-a {
  stroke: #152636;
  stroke-width: 1.4px;
}
.mo-log-icon svg .svg-c,
.mo-log-icon svg .svg-e {
  stroke: none;
}
.mo-log-icon svg .svg-e {
  fill: #152636;
}
.mo-log-icon .mo-log-anchor {
  color: #152636;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  line-height: 40px;
}
.mo-log-icon .mo-log-anchor .mo-text {
  margin-right: 8px;
  display: flex;
  align-items: center;
}
html[dir=ltr] .mo-log-icon .mo-log-anchor .mo-text {
  margin-left: 8px;
  margin-right: 0;
}
@media (max-width: 992px) {
  .mo-log-icon .mo-log-anchor .mo-text {
    display: none;
  }
}
.mo-log-icon .mo-log-anchor .mo-text:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 3px 0 3px;
  border-color: #152636 transparent transparent transparent;
  margin-right: 4px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
html[dir=ltr] .mo-log-icon .mo-log-anchor .mo-text:after {
  margin-right: 0;
  margin-left: 4px;
}

.mo-user-icon {
  fill: #152636;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.mo-user-icon:hover {
  fill: #E6001C;
}

.user-settings {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.user-settings .mo-user-icon {
  margin-right: 35px;
}
@media (max-width: 767px) {
  .user-settings .mo-user-icon {
    margin-right: 20px;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 992px) {
  .user-settings .mo-user-icon.mo-fav-icon {
    display: none;
  }
}
html[dir=ltr] .user-settings .mo-user-icon {
  margin-left: 20px;
  margin-right: 0;
}
@media (min-width: 1700px) {
  html[dir=ltr] .user-settings .mo-user-icon {
    margin-left: 35px;
  }
}
@media (max-width: 767px) {
  html[dir=ltr] .user-settings .mo-user-icon {
    margin-left: 20px;
  }
}
.user-settings .mo-user-icon.mo-menu-icon {
  margin: 0;
}
html[dir=ltr] .user-settings .mo-user-icon.mo-menu-icon {
  margin: 0;
}
html[dir=ltr] .user-settings .mo-log-icon {
  margin: 0;
}
@media (max-width: 767px) {
  html[dir=ltr] .user-settings .mo-log-icon {
    margin-left: 20px;
  }
}

.mo-menu-icon {
  display: none;
  align-items: center;
  justify-content: space-between;
  fill: #152636;
}
@media (max-width: 1199px) {
  .mo-menu-icon {
    display: flex;
  }
}

.mo-search-icon {
  display: none;
  align-items: center;
  justify-content: space-between;
  fill: #152636;
}
@media (max-width: 992px) {
  .mo-search-icon {
    display: flex;
  }
}

.sec-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  text-transform: capitalize;
}
@media (max-width: 992px) {
  .sec-head {
    margin-bottom: 30px;
  }
}

.sec-title {
  font-size: 24px;
  color: #152636;
  font-weight: 500;
}

@media (max-width: 992px) {
  .brands-slider-sec .sec-title {
    width: 100%;
    text-align: center;
  }
}

.mo-more {
  font-size: 14px;
  color: #E6001C;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.mo-more:hover, .mo-more:focus {
  color: #152636;
}

footer {
  background-color: #152636;
  padding-top: 45px;
  border-top: 5px solid #E6001C;
  margin-top: 105px;
  text-transform: capitalize;
}
@media (max-width: 992px) {
  footer {
    margin-top: 70px;
    padding-top: 40px;
  }
}

.foot-header {
  font-size: 17px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
}

.nav-foot-li {
  margin-bottom: 7px;
}
.nav-foot-li:last-of-type {
  margin-bottom: 0;
}

.nav-foot-link {
  font-size: 15px;
  color: #9DB5CC;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-flex;
  text-transform: capitalize;
}
.nav-foot-link:hover, .nav-foot-link:focus {
  transform: translateX(-5px);
  color: #E6001C;
}
html[dir=ltr] .nav-foot-link:hover, html[dir=ltr] .nav-foot-link:focus {
  transform: translateX(5px);
}

@media (max-width: 992px) {
  .news-letter {
    margin-top: 40px;
  }
  .news-letter .foot-header {
    text-align: center;
  }
}

.social {
  margin-top: 32px;
  display: flex;
  align-items: center;
}
@media (max-width: 1199px) {
  .social {
    margin-top: 20px;
    justify-content: center;
  }
}

.social-link {
  border-radius: 50%;
  background-color: #9DB5CC;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #fff;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-left: 16px;
}
@media (max-width: 767px) {
  .social-link {
    font-size: 20px;
  }
}
.social-link:hover {
  animation: flip 0.7s ease forwards;
}
html[dir=ltr] .social-link {
  margin-left: 0;
  margin-right: 16px;
}
html[dir=ltr] .social-link:last-of-type {
  margin-left: 0;
  margin-right: 0;
}
.social-link:last-of-type {
  margin-left: 0;
  margin-right: 0;
}
.social-link::after {
  margin-top: 6px;
}
.social-link:nth-of-type(1)::after {
  content: url(../images/facebook.svg);
}
.social-link:nth-of-type(2)::after {
  content: url(../images/twitter.svg);
}
.social-link:nth-of-type(3)::after {
  content: url(../images/instagram.svg);
}

.last-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 35px;
  margin-bottom: 45px;
}
@media (max-width: 1199px) {
  .last-footer {
    margin-top: 40px;
    margin-bottom: 25px;
    flex-direction: column;
    justify-content: center;
  }
}

.payment {
  order: 2;
}
@media (max-width: 1199px) {
  .payment {
    order: 1;
    margin-top: 0;
  }
}

.copytight {
  display: flex;
  color: #9DB5CC;
  align-items: center;
  font-size: 15px;
  order: 1;
  margin-bottom: 17px;
}
@media (max-width: 1199px) {
  .copytight {
    order: 2;
    flex-direction: column;
    margin-top: 20px;
  }
}

nav .close-menu {
  display: none;
  top: 25px;
  left: 25px;
  position: absolute;
}
nav .close-menu g {
  fill: rgba(0, 0, 0, 0.5);
}
html[dir=ltr] nav .close-menu {
  left: auto;
  right: 25px;
}
@media (max-width: 1199px) {
  nav {
    box-shadow: none;
    position: fixed;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0);
    top: 0;
    bottom: 0;
    width: 280px;
    display: none;
  }
  nav .close-menu {
    display: flex;
  }
  nav .mo-navbar {
    width: 280px;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #fff;
    margin: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 70px 25px;
    overflow-y: auto;
    right: 0;
    transform-origin: right;
    transform: scaleX(0);
    overflow-y: auto;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  html[dir=ltr] nav .mo-navbar {
    transform-origin: left;
    left: 0;
    right: auto;
  }
  nav .mo-navbar.nav-in {
    transform: scaleX(1);
  }
  nav .nav-li {
    margin: 7px 0;
    width: 100%;
  }
  nav .nav-li > .nav-a {
    line-height: unset;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  nav .nav-a::before {
    display: none;
  }
  nav .cats-display {
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    transform: none;
    display: flex;
    flex-direction: column;
    visibility: visible;
    opacity: 1;
    border: none;
    box-shadow: none;
    padding: 5px 15px 0;
  }
  nav .cat-head {
    font-weight: normal;
    margin: 5px 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav .cat-head:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px 3px 0 3px;
    border-color: #152636 transparent transparent transparent;
    margin-right: 4px;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  html[dir=ltr] nav .cat-head:after {
    margin-right: 0;
    margin-left: 4px;
  }
  nav .cat-head:hover {
    color: #E6001C;
  }
  nav .cat-head:hover::after {
    border-color: #E6001C transparent transparent transparent;
  }
  nav .sub-ul {
    padding: 5px 15px 0;
  }
  nav .sub-li {
    margin: 5px 0;
  }
}

.mo-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9;
  display: none;
}

/*# sourceMappingURL=main.css.map */
